@model Bigamer.Application.Requests.User.Commands.UserLogin.UserLoginRequest

@{
    Layout = Layout;
}

<!-- ===========Banner Section start Here========== -->
<section class="pageheader-section" style="background-image: url(../assets/images/pageheader/bg.jpg);">
    <div class="container">
        <div class="section-wrapper text-center text-uppercase">
            <h2 class="pageheader-title">Login for gaming</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- ===========Banner Section Ends Here========== -->


<!-- Login Section Section Starts Here -->
<div class="login-section padding-top padding-bottom">
    <div class=" container">
        <div class="account-wrapper">
            <h3 class="title">Login</h3>
            <form class="account-form">
                <div class="form-group">
                    <input id="email" type="text" placeholder="Email" asp-for="Email" name="email">
                </div>
                <div class="form-group">
                    <input id="password" type="password" placeholder="Password" asp-for="Password" name="password">
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between flex-wrap pt-sm-2">
                        <div class="checkgroup">
                            <input type="checkbox" asp-for="RememberMe" name="rememberMe" id="remember">
                            <label for="remember">Remember Me</label>
                        </div>
                        <a href="#">Forget Password?</a>
                    </div>
                </div>
                <div class="form-group">
                    <button id="login-submit" type="button" class="d-block default-button">
                        <span>Submit Now</span>
                    </button>
                </div>
            </form>
            <div class="account-bottom">
                <span class="d-block cate pt-10">Don’t Have any Account? <a asp-action="Register"> Sign Up</a></span>
                <span class="or">
                    <span>or</span>
                </span>
                <h5 class="subtitle">Login With Social Media</h5>
                <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center mt-4">
                    <li>
                        <a href="#">
                            <img src="~/assets/images/match/social-1.png" alt="vimeo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/assets/images/match/social-2.png" alt="youtube">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/assets/images/match/social-3.png" alt="twitch">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById('login-submit')
    .addEventListener('click', () => {
        let emailInput = document.getElementById('email')
        let passwordInput = document.getElementById('password')
        let rememberMeInput = document.getElementById('remember')
       
        if (emailInput.value === '') {
            alert("Write your email!")    
            return
        }
        
        if (passwordInput.value === '') {
            alert("Write password!")    
            return
        }
       
        fetch('http://localhost:5002/Auth/Login', {
            method: 'POST',
            headers: {
                  "Content-Type": "application/json"
                },
            body: JSON.stringify({
                email: emailInput.value,
                password: passwordInput.value,
                rememberMe: rememberMeInput.checked
            })
        })
        .then(response => {
            if (response.status === 500) {
                alert('Something went wrong! Please try again')
                return
            }
            if (response.status !== 200) {
                response.json()
                .then(json => alert(json.message))
            }
            else {
                alert('Successfully logged in!')
                document.location = 'http://localhost:5002/Home/Index'
            }
        })
        
    })
</script>