@model Bigamer.Application.Requests.User.Commands.UserRegister.UserRegisterRequest

@{
    Layout = Layout;
}

<!-- ===========Banner Section start Here========== -->
<section class="pageheader-section" style="background-image: url(../assets/images/pageheader/bg.jpg);">
    <div class="container">
        <div class="section-wrapper text-center text-uppercase">
            <h2 class="pageheader-title">Registration Page</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Registration</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- ===========Banner Section Ends Here========== -->


<!-- Login Section Section Starts Here -->
<div class="login-section padding-top padding-bottom">
    <div class=" container">
        <div class="account-wrapper">
            <h3 class="title">Register Now</h3>
            <form asp-action="Register" method="post" class="account-form">
                <div class="form-group">
                    <input
                        type="text"
                        placeholder="First Name"
                        asp-for="FirstName"
                        name="firstName"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text"
                        placeholder="Last Name"
                        asp-for="LastName"
                        name="lastName"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text"
                        placeholder="Email"
                        asp-for="Email"
                        name="email"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="password"
                        placeholder="Password"
                        asp-for="Password"
                        name="password"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="password"
                        placeholder="Confirm Password"
                        asp-for="ConfirmPassword"
                        name="confirmPassword"
                        required>
                </div>
                <div class="form-group">
                    <button type="submit" class="d-block default-button">
                        <span>Get Started Now</span>
                    </button>
                </div>
            </form>
            <div class="account-bottom">
                <span class="d-block cate pt-10">Are you a member? <a asp-action="Login">Login</a></span>
                <span class="or">
                    <span>or</span>
                </span>
                <h5 class="subtitle">Register With Social Media</h5>
                <ul class="match-social-list d-flex flex-wrap align-items-center justify-content-center mt-4">
                    <li>
                        <a href="#">
                            <img src="~/assets/images/match/social-1.png" alt="vimeo">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/assets/images/match/social-2.png" alt="youtube">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/assets/images/match/social-3.png" alt="twitch">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Login Section Section Ends Here -->